@import "tailwindcss";
body {
  background-color: #232323;
  color: #fff;
}

.custom-toast {
  border-radius: 16px;
  background: rgba(28, 28, 30, 0.72); /* casi neutro */
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);
  box-shadow:
    0 1px 1px rgba(255, 255, 255, 0.08) inset,
    0 8px 30px rgba(0, 0, 0, 0.35);
  padding: 12px 16px;
  max-width: 45%;
}
.Toastify__toast--success.custom-toast {
  background:
    linear-gradient(180deg, rgba(52, 199, 89, 0.08), rgba(52, 199, 89, 0.04)),
    rgba(28, 28, 30, 0.72);

  border: 1px solid rgba(52, 199, 89, 0.18);
}

.Toastify__toast--error.custom-toast {
  background:
    linear-gradient(180deg, rgba(255, 69, 58, 0.08), rgba(255, 69, 58, 0.04)),
    rgba(28, 28, 30, 0.72);

  border: 1px solid rgba(255, 69, 58, 0.18);
}

.custom-toast-body {
  color: rgba(255, 255, 255, 0.92);
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.2px;
}
